
/*Creación de estilos imitando a la siguente página: https://demo.rockettheme.com/live/joomla/clarity/ */
	body{
 		background-color: black;
 		margin: 0;
		font-size: 100%;
		font-family: 'Asap', sans-serif;
		src: url("../../fonts/asap/asap-v11-latin-regular.eot?5e27361c#iefix") format("embedded-opentype"), url("../../fonts/asap/asap-v11-latin-regular.woff2?5e27361c") format("woff2"), url("../../fonts/asap/asap-v11-latin-regular.woff?5e27361c") format("woff"), url("../../fonts/asap/asap-v11-latin-regular.ttf?5e27361c") format("truetype"), url("../../fonts/asap/asap-v11-latin-regular.svg?5e27361c#asap") format("svg");
		font-weight: 400;
		/*background-color: #000000;*/
		position: relative;
		color: #030303;
		background: #ffffff;
	}
	
	.logo{
		width: 150px;
		height: 150px;
	}

	#mainmenu {
	position: relative;

	}